---
title: OTFES
layout: ./app/layout.ejs
engine: ejs
current: index
---

<!-- head -->
<div class="lg:pt-16 pb-24 text-white main_products">
    <header
        class="lg:container mx-auto lg:flex items-center justify-between fixed lg:relative z-20 bg-black bg-opacity-90 lg:bg-transparent h-full w-full top-0 left-0"
        :class="{hidden : head}">
        <div class="absolute top-10 right-10 lg:hidden" @click="head = true">
            <i class="bi bi-x-lg text-2xl"></i>
        </div>
        <div class="flex flex-wrap items-center justify-center sm:h-full">
            <!-- logo -->
            <div class="w-full sm:w-auto mx-8 flex justify-center my-10">
                <img src="./assets/images/logo.png" alt="">
            </div>
            <!-- nav -->
            <ul class="lg:flex">
                <li v-for="(items, index) in nav.tw" :key="index" class="mx-8 text-xl lg:text-base py-3"
                    @click="head = true">
                    <a :href="items.link">{{items.text}}</a>
                </li>
            </ul>
        </div>
        <!-- desktop langBar -->
        <div class="relative cursor-pointer langBar hidden lg:block" @click="langBar = !langBar">
            <span>Language</span><span class="mx-3">/</span><span class="text-linght-sup">繁體中文</span>
            <ul class="absolute z-20 w-full bg-white text-main rounded-xl overflow-hidden mt-3"
                :class="{hidden : langBar}">
                <li>
                    <a href="index.html" class="text-center py-3 block">繁體中文</a>
                </li>
                <hr>
                <li>
                    <a href="us.html" class="text-center py-3 block">English</a>
                </li>
            </ul>
        </div>
    </header>
    <!-- mobile menu -->
    <div class="p-10 text-center flex items-center justify-between lg:hidden">
        <div @click="head = false"><i class="bi bi-list text-3xl leading-none"></i></div>
        <div class="relative cursor-pointer langBar lg:hidden" @click="langBar_mobile = !langBar_mobile">
            <span>Language</span><span class="mx-3">/</span><span class="text-linght-sup">繁體中文</span>
            <ul class="absolute z-10 w-full bg-white text-main rounded-xl overflow-hidden mt-3"
                :class="{hidden : langBar_mobile}">
                <li>
                    <a href="index.html" class="text-center py-3 block">繁體中文</a>
                </li>
                <hr>
                <li>
                    <a href="us.html" class="text-center py-3 block">English</a>
                </li>
            </ul>
        </div>
    </div>
    <!-- products -->
    <div class="container mx-auto grid grid-cols-5">
        <div class="lg:pt-10 lg:mt-10 col-span-5 lg:col-span-2 lg:pl-20 text-center">
            <h2>OTFES</h2>
            <ul class="flex products_select mb-5 justify-center">
                <li class="cursor-pointer text-2xl py-8 px-5 font-bold" v-for="(item, index) in poducts"
                    @click="current_model = index" :class="{active : current_model === index}" :key="index">
                    {{item.type}}</li>
            </ul>
            <template v-if="current_model == 0">
                <h1 class="leading-none text-6xl xl:text-8xl">Model 3<br>
                    <span class="mt-5 text-2xl font-normal block">智慧手沖咖啡機含櫥下機</span>
                </h1>
            </template>
            <template v-else-if="current_model == 1">
                <h1 class="leading-none text-6xl xl:text-8xl">Model 4<br>
                    <span class="mt-5 text-2xl font-normal block">智慧手沖咖啡機含櫥下機</span>
                </h1>
            </template>
            <div class="flex items-center mt-10 justify-center">
                <!-- <a class="fancybox btn borderBtn mr-5" href="./assets/images/detail.jpg">產品詳細</a> -->
                <a href="mailto:contactus@otfes.com" class="btn borderBtn">查詢最新價格方案</a>
            </div>
        </div>
        <div class="col-span-5 lg:col-span-3 mt-20">
            <!-- products_carousel -->
            <div class="relative" v-for="(p, index) in poducts" :key="index"
                :class="{'h-0' : current_model !== index , 'overflow-hidden' : current_model !== index}">
                <div :class="'products_img' + index">
                    <div v-for="(pi, i) in p.img" :key="i">
                        <img :src="pi" alt="" class="block mx-auto" :class="{'h-96' : poductsSize_moblie}">
                    </div>
                </div>
                <div class="flex w-full justify-between absolute top-1/2">
                    <div :class="'to_left' + index">
                        <i class="text-3xl cursor-pointer bi bi-chevron-left"></i>
                    </div>
                    <div :class="'to_right' + index">
                        <i class="text-3xl cursor-pointer bi bi-chevron-right"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="bg-white-img">
    <!-- benefits -->
    <div class="feature bg-white-img">
        <div class="container mx-auto py-32 2xl:py-60 2xl:px-40">
            <div id="benefits" class="text-center">
                <h2 class="inline-block title">產品優勢</h2>
            </div>
            <div class="psd_point md:flex flex-wrap justify-center mt-16">
                <div v-for="(item, index) in feature_product.tw" :key="index"
                    class="w-3/4 mx-auto xl:w-1/2 p-5 items-stretch">
                    <div class="overflow-hidden md:flex items-center bg-white rounded-xl shadow-2xl h-full">
                        <!-- <i class="text-5xl mb-5 block text-sup" :class="item.icon"></i> -->
                        <div class="md:w-1/2 flex-shrink-0 shadow-lg">
                            <img :src="'./assets/images/point/'+ item.img + '.jpg'" alt="">
                        </div>
                        <div class="p-6">
                            <h6 class="text-lg text-dark-sup font-bold mb-2">{{item.title}}</h6>
                            <p>{{item.text}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Feature product -->
    <div class="benefits pb-32 xl:pb-0">
        <div class="container mx-auto">
            <div id="feature" class="text-center">
                <h2 class="inline-block title">產品特色</h2>
            </div>
            <div class="md:grid grid-cols-4 gap-10 mt-16 px-5">
                <div class="flex items-center col-span-2 xl:col-span-1">
                    <div class="psd_benefits w-full">
                        <template v-for="(b, index) in benefits.tw">
                            <div v-for="(bb, index) in b.brfore"
                                class="bg-white md:h-44 xl:h-auto p-10 rounded-xl xl:text-center shadow-2xl mb-5">
                                <div class="flex xl:block">
                                    <div class="w-1/3 xl:w-auto flex-shrink-0 text-center">
                                        <i class="text-5xl mb-5 block text-sup" :class="bb.icon"></i>
                                    </div>
                                    <div>
                                        <h6 class="text-lg text-dark-sup font-bold mb-2">{{bb.title}}</h6>
                                        <p class="text-sm xl:text-base">{{bb.text}}</p>
                                    </div>
                                </div>
                            </div>
                        </template>
                    </div>
                </div>
                <div class="col-span-2 hidden xl:block">
                    <img src="assets/images/slamp_2.png" alt="">
                </div>
                <div class="flex xl:items-center col-span-2 xl:col-span-1">
                    <div class="psd_benefits w-full">
                        <template v-for="(b, index) in benefits.tw">
                            <div v-for="(ba, index) in b.after"
                                class="bg-white md:h-44 xl:h-auto p-10 rounded-xl xl:text-center shadow-2xl mb-5">
                                <div class="flex xl:block">
                                    <div class="w-1/3 xl:w-auto flex-shrink-0 text-center">
                                        <i class="text-5xl mb-5 block text-sup" :class="ba.icon"></i>
                                    </div>
                                    <div>
                                        <h6 class="text-lg text-dark-sup font-bold mb-2">{{ba.title}}</h6>
                                        <p class="text-sm xl:text-base">{{ba.text}}</p>
                                    </div>
                                </div>
                            </div>
                        </template>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="about_support">
    <div class="container mx-auto grid grid-cols-3 py-32 xl:py-60 px-10">
        <!-- About -->
        <div class="overflow-hidden 2xl:rounded-xl hidden lg:block">
            <img src="assets/images/about.jpg" alt="">
        </div>
        <div class="col-span-3 lg:col-span-2 flex items-center justify-center">
            <div class="lg:px-16 text-center lg:text-left">
                <h2 id="store" class="mb-10 title inline-block">品牌故事</h2>
                <p class="">OTFES
                    智慧手沖咖啡機，設計採極簡工業風呈現乾淨自然的外表，咖啡機更具備IoT功能，從『一鍵沖煮』到還原咖啡大師『專業手法』，透過參數化制定咖啡沖煮流程，可滿足各種沖煮需求及維持萃取率與咖啡品質的穩定性，每個人都可以設定不同的沖煮法，為咖啡注入不同的靈魂，讓咖啡充滿無窮無盡的創造無窮無盡的創造力，以一杯咖啡追求『美的生活態度』，讓咖啡機創造無限可能。
                </p>
            </div>
        </div>
        <hr class="col-span-3 my-16">
        <!-- Support -->
        <div class="col-span-3 lg:col-span-2 sm:flex items-center justify-center lg:justify-start">
            <div class="lg:px-16 text-center lg:text-left">
                <h2 id="support" class="mb-10 title inline-block">支援中心</h2>
                <div class="p-10 shadow-2xl rounded-xl bg-white">
                    <h3 class="font-bold mb-3">Model 4</h3>
                    <ul class="sm:flex items-center justify-center">
                        <li class="sm:mr-5">
                            <a href="./assets/pdf/Model 4_細部規格.pdf" download class="btn mainBtn inline-block">細部規格</a>
                        </li>
                        <li>
                            <a href="./assets/pdf/Model 4_使用說明.pdf" download class="btn mainBtn inline-block">使用說明</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="overflow-hidden 2xl:rounded-xl hidden lg:block">
            <img src="assets/images/support.jpg" alt="">
        </div>
    </div>
</div>

<!-- footer -->
<footer id="contact" class="text-white py-16">
    <div class="container mx-auto xl:grid grid-cols-2 mb-32">
        <div
            class="flex flex-wrap items-center justify-center xl:justify-end px-5 sm:px-0 mb-20 xl:mb-0 text-center sm:text-left">
            <div class="sm:mr-16 mb-5 sm:mb-0 w-full sm:w-auto">
                <img src="./assets/images/logo.png" alt="" class="inline-block mx-auto">
            </div>
            <div class="sm:mr-16">
                <h3 class="mb-5 text-xl sm:text-2xl">東陞國際科技股份有限公司</h3>
                <ul>
                    <li>桃園市桃園區永順街8號</li>
                    <li>電話: (03)301-6607</li>
                    <li>傳真: (03)301-6627</li>
                    <li><a href="mailto:contactus@otfes.com" class="text-sup underline">contactus@otfes.com</a></li>
                </ul>
            </div>
        </div>
        <div class="xl:pl-16 xl:border-l border-opacity-20 px-5 text-center xl:text-left">
            <h3 class="mb-5 text-xl sm:text-2xl">Follow US</h3>
            <ul class="flex justify-center xl:justify-start">
                <li class="flex items-center mr-16">
                    <a href="https://www.facebook.com/otfes/" class="flex items-center" target="_blank">
                        <i class="bi bi-facebook text-2xl mr-5"></i><span>Facebook</span>
                    </a>
                </li>
                <li class="flex items-center">
                    <a href="https://www.youtube.com/channel/UCF7SE7fhK7T4mIZivf4fmFg" class="flex items-center"
                        target="_blank">
                        <i class="bi bi-youtube text-2xl mr-5"></i><span>Youtube</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="w-full text-center">Copyright © 2021 OTFES Inc. 保留一切權利。</div>
</footer>

<!-- go_top -->
<div class="text-white fixed bottom-10 right-10 z-10 text-2xl text-sup flex items-center justify-center w-12 h-12 bg-white shadow-xl rounded-full"
    :class="{hidden : isTop}" @click="goTop()">
    <i class="bi bi-chevron-up"></i>
</div>