<!DOCTYPE html>
<html lang="zh-TW">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>
    <%- title %>
  </title>
  <link rel="shortcut icon" href="assets/images/favicon.ico" type="image/x-icon">
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.16/tailwind.min.css'
    integrity='sha512-5D0ofs3AsWoKsspH9kCWlY7qGxnHvdN/Yz2rTNwD9L271Mno85s+5ERo03qk9SUNtdgOZ4A9t8kRDexkvnWByA=='
    crossorigin='anonymous' />

  <!-- <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet"> -->

  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.css">
  <link rel="stylesheet" href="./assets/style/all.css">
</head>

<body>
  <div class="app h-full">
    <div class="pt-16 pb-24 text-white main_products">
      <header class="container mx-auto items-center justify-between hidden md:flex">
        <div class="lg:flex items-center">
          <div class="mx-8">
            <img src="./assets/images/logo.png" alt="">
          </div>
          <div>
            <a :href="items.link" v-for="(items, index) in nav" :key="index" class="mx-8">{{items.text}}</a>
          </div>
        </div>
        <div class="relative cursor-pointer langBar" @click="langBar = !langBar">
          <span>Language</span><span class="mx-3">/</span><span class="text-linght-sup">繁體中文</span>
          <ul class="absolute z-20 w-full bg-white text-main rounded-xl overflow-hidden mt-3"
            :class="{hidden : langBar}">
            <li>
              <a href="#" class="text-center py-3 block">繁體中文</a>
            </li>
            <hr>
            <li>
              <a href="#" class="text-center py-3 block">English</a>
            </li>
          </ul>
        </div>
      </header>
      <!-- products -->
      <div class="container mx-auto grid md:grid-cols-5">
        <div class="pt-10 col-span-2 mt-10 md:pl-20">
          <h2>OTFES</h2>
          <ul class="flex products_select mb-5">
            <li class="cursor-pointer h4 py-8 px-5 font-bold" v-for="(item, index) in poducts"
              @click="current_model = index" :class="{active : current_model === index}" :key="index">{{item.type}}</li>
          </ul>
          <template v-if="current_model == 0">
            <h1 class="leading-none text-8xl">Model 3<br>
              <span class="mt-5 text-2xl font-normal block">智慧手沖咖啡機含櫥下機</span>
            </h1>
          </template>
          <template v-else-if="current_model == 1">
            <h1 class="leading-none text-8xl">Model 4<br>
              <span class="mt-5 text-2xl font-normal block">智慧手沖咖啡機含櫥下機</span>
            </h1>
          </template>
          <div class="flex items-center mt-10">
            <!-- <a class="fancybox btn borderBtn mr-5" href="./assets/images/detail.jpg">產品詳細</a> -->
            <a href="mailto:contactus@otfes.com" class="btn borderBtn">查詢最新價格方案</a>
          </div>
        </div>
        <div class="col-span-3 hidden md:block">
          <!-- products_carousel -->
          <div class="relative" v-for="(p, index) in poducts" :key="index"
            :class="{'h-0' : current_model !== index , 'overflow-hidden' : current_model !== index}">
            <div :class="'products_img' + index">
              <div v-for="(pi, i) in p.img" :key="i">
                <img :src="pi" alt="" class="block mx-auto">
              </div>
            </div>
            <div class="flex w-full justify-between absolute top-1/2">
              <div :class="'to_left' + index">
                <i class="text-3xl cursor-pointer bi bi-chevron-left"></i>
              </div>
              <div :class="'to_right' + index">
                <i class="text-3xl cursor-pointer bi bi-chevron-right"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <%- contents %>

      <footer id="contact" class="text-white py-16">
        <div class="container mx-auto md:grid grid-cols-2 mb-32">
          <div class="flex items-center justify-end">
            <div class="mr-16">
              <img src="./assets/images/logo.png" alt="" class="inline-block mx-auto">
            </div>
            <div class="mr-16">
              <h3 class="mb-5 h4">東陞國際科技股份有限公司</h3>
              <ul>
                <li>桃園市桃園區永順街8號</li>
                <li>電話: (03)301-6607</li>
                <li>傳真: (03)301-6627</li>
                <li><a href="mailto:contactus@otfes.com" class="text-sup underline">contactus@otfes.com</a></li>
              </ul>
            </div>
          </div>
          <div class="pl-16 border-l border-opacity-20">
            <h3 class="mb-5 h4">Follow US</h3>
            <ul class="flex">
              <li class="flex items-center mr-16">
                <a href="https://www.facebook.com/otfes/" class="flex items-center" target="_blank">
                  <i class="bi bi-facebook text-2xl mr-5"></i><span>Facebook</span>
                </a>
              </li>
              <li class="flex items-center">
                <a href="https://www.youtube.com/channel/UCF7SE7fhK7T4mIZivf4fmFg" class="flex items-center"
                  target="_blank">
                  <i class="bi bi-youtube text-2xl mr-5"></i><span>Youtube</span>
                </a>
              </li>
            </ul>
          </div>
        </div>


        <div class="w-full text-center">Copyright © 2021 OTFES Inc. 保留一切權利。</div>
      </footer>
  </div>


  <script src="./assets/js/vendors.js"></script>
  <!-- <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script> -->
  <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"></script>
  <script src="https://unpkg.com/vue@next"></script>
  <script src="./assets/js/all.js"></script>
</body>

</html>