$main: #30363a;
$sup: #c26b42;

@mixin bg_Style {
  background-size: cover;
  background-position: center;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700;900&display=swap");

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");

html,
body {
  font-size: 16px;
  background-image: url(../images/bg.jpg);
  background-attachment: fixed;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  @include bg_Style();
}
.main_products {
  background-image: url(../images/main_bg.png);
  @include bg_Style();
}
.partner,
.about {
  background-image: url(../images/partner_bg.jpg);
  @include bg_Style();
}
.h-250 {
  height: 250px;
}

h1,
.h1 {
  font-size: 3.5rem;
  font-weight: 900;
  text-transform: uppercase;
}
h2,
.h2 {
  font-size: 3rem;
  font-weight: 900;
  text-transform: uppercase;
}
h3,
.h3 {
  font-size: 1.75rem;
}
h4,
.h4 {
  font-size: 1.5rem;
}
h5,
.h5 {
  font-size: 1.25rem;
}

.products_select {
  li.active {
    color: $sup;
    position: relative;
    &:after {
      bottom: 0;
      transform: translateX(30%);
      left: -50%;
      position: absolute;
      content: url(../images/line.png);
    }
  }
}

.btn {
  padding: 10px 25px;
}
.mainBtn {
  color: white;
  border-radius: 15px;
  overflow: hidden;
  background-color: $sup;
}
.borderBtn {
  color: $sup;
  border-radius: 15px;
  border: 1px solid $sup;
}

// slick-carousel
.slick-dots {
  position: absolute;
  bottom: -45px;
  display: block;
  width: 100%;
  padding: 0;
  list-style: none;
  text-align: center;
  li {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
    button {
      font-size: 0;
      line-height: 0;
      display: block;
      width: 20px;
      height: 20px;
      padding: 5px;
      cursor: pointer;
      color: transparent;
      border: 0;
      outline: none;
      background: transparent;
    }
  }
}

.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1;
}
.slick-dots li button:before {
  // font-family: "slick";
  font-size: 20px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: "●";
  text-align: center;
  opacity: 0.5;
  color: white;
}
.slick-dots li.slick-active button:before {
  color: $sup;
}
