@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Saira:wght@300;400;700;900&family=Ubuntu:wght@300;500;700&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");
html,
body {
  font-size: 16px;
  background-image: url(../images/bg.jpg);
  background-attachment: fixed;
  font-family: "Saira", sans-serif;
  font-weight: 300;
  height: 100%;
  background-size: cover;
  background-position: center; }

.main_products {
  background-image: url(../images/main_bg.png);
  background-size: cover;
  background-position: center; }

.bg-white-img {
  background-image: url(../images/partner_bg.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center; }

.h-250 {
  height: 250px; }

.h-1_2 {
  height: 75%; }

.text-sup {
  color: #c26b42; }

.mask {
  overflow: hidden; }
  .mask:hover:before {
    left: -100%;
    -webkit-transition-duration: 0.2s;
         -o-transition-duration: 0.2s;
            transition-duration: 0.2s; }
  .mask:before {
    content: " ";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    -webkit-transition-duration: 0.2s;
         -o-transition-duration: 0.2s;
            transition-duration: 0.2s;
    background-color: #05111b80; }

h1,
.h1 {
  font-size: 3.5rem;
  font-weight: 700;
  text-transform: uppercase; }

h2,
.h2 {
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase; }

h3,
.h3 {
  font-size: 1.75rem; }

h4,
.h4 {
  font-size: 1.5rem; }

h5,
.h5 {
  font-size: 1.25rem; }

.products_select li.active {
  color: #c26b42;
  position: relative; }
  .products_select li.active:after {
    bottom: 0;
    -webkit-transform: translateX(30%);
        -ms-transform: translateX(30%);
            transform: translateX(30%);
    left: -50%;
    position: absolute;
    content: url(../images/line.png); }

.btn {
  padding: 10px 25px; }

.mainBtn {
  color: white;
  border-radius: 15px;
  overflow: hidden;
  background-color: #c26b42; }

.borderBtn {
  color: #c26b42;
  border-radius: 15px;
  border: 1px solid #c26b42; }

.slick-dots {
  position: absolute;
  bottom: -45px;
  display: block;
  width: 100%;
  padding: 0;
  list-style: none;
  text-align: center; }
  .slick-dots li {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer; }
    .slick-dots li button {
      font-size: 0;
      line-height: 0;
      display: block;
      width: 20px;
      height: 20px;
      padding: 5px;
      cursor: pointer;
      color: transparent;
      border: 0;
      outline: none;
      background: transparent; }

.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none; }

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1; }

.slick-dots li button:before {
  font-size: 20px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: "●";
  text-align: center;
  opacity: 0.5;
  color: white; }

.slick-dots li.slick-active button:before {
  color: #c26b42; }

/*# sourceMappingURL=all.css.map */
